/*
 * Ensure the page fills the viewport. Prevent purgecss from removing this
 * styling, which it likes to do for the #__next selector.
 */
/* purgecss start ignore */
html, body, #__next, #root {
  @apply m-0 p-0 box-border;
  @apply min-h-screen flex-col filled;
}

html,
body {
  @apply text-base interface;
  background: #fafafa;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* purgecss end ignore */